<div class="devise-container">

  <div class="devise-page-title" >FORGOTTEN AGAIN?</div>
  <div class="devise-form-div">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: 'devise-form', placeholder: "Email goes here" %>
      </div>

      <div class="actions devise-button">
        <%= f.submit "Reset me", class: 'devise-button' %>
      </div>
    <% end %>
    <div class="devise-link-box"><a href="/users/sign_up" class="devise-links">Signup, slowcoach...</a></div>
    <div class="devise-link-box"><a href="/users/sign_in" class="devise-links">Or login, you pro...</a></div>
  </div> 
</div>