<!DOCTYPE html>
<html>
  <head>
    <title>Commonplace</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 
  </head>

   
  
  <body>
    <div class="outer-border">
      <div class="outer-border">
            <div class="border top horizontal"></div>
            <div class="border bottom horizontal"></div>
            <div class="border right vertical"></div>
            <div class="border left vertical"></div>
      </div>
      <div class="container">
      <%= yield %>
      </div>
    </div>
    
  </body>   
</html>
