<!DOCTYPE html>
<html>
  <head>
    <title>Commonplace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 
  </head>

  <div class="bg-image">  
  </div>
  
  <label for="toggle"><img src="/assets/icons/menu.svg" width="30" height="30"></label>
  <input type="checkbox" id="toggle">
  <aside class="left-bar">
    <ul>
      <li class="nav-icon"><a href="/notes"><img src="/assets/icons/all.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=todo_later"><img src="/assets/icons/todo_later.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=todo_soon"><img src="/assets/icons/todo_soon.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=idea"><img src="/assets/icons/idea.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=quote"><img src="/assets/icons/quote.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=diary"><img src="/assets/icons/diary.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=goal"><img src="/assets/icons/goal.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=reference"><img src="/assets/icons/reference.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=principle"><img src="/assets/icons/principle.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=research"><img src="/assets/icons/research.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=event"><img src="/assets/icons/event.svg" width="30" height="30"></a></li>
      <li class="nav-icon"><a href="/notes?note_type=note"><img src="/assets/icons/note.svg" width="30" height="30"></a></li>
    </ul>
  </aside>   
  
  <body class="center-stage">
    <%= yield %>
  </body>   
</html>
